[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BindingSiteFinder"]
	path = BindingSiteFinder
	url = https://github.com/zarnackgroup/bindingsitefinder
	shallow = true
	registered = true
