[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BindingSiteFinder"]
	path = BindingSiteFinder
	url = https://github.com/zarnackgroup/bindingsitefinder
[submodule "m6Aboost"]
	path = m6Aboost
	url = https://github.com/zarnackgroup/m6aboost
